<%= form_with(model: lookup, local: true) do |form| %>
  <% if lookup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lookup.errors.count, "error") %> prohibited this lookup from being saved:</h2>

      <ul>
      <% lookup.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :lookup_name %>
  </div>

  <div class="field">
    <%= form.label :datatype %>
    <%= form.text_field :datatype, id: :lookup_datatype %>
  </div>

  <div class="field">
    <%= form.label :type %>
    <%= form.text_field :type, id: :lookup_type %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
