<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @lookup.name %>
</p>

<p>
  <strong>Datatype:</strong>
  <%= @lookup.datatype %>
</p>

<p>
  <strong>Type:</strong>
  <%= @lookup.type %>
</p>

<%= link_to 'Edit', edit_lookup_path(@lookup) %> |
<%= link_to 'Back', lookups_path %>
