<%= form_with(model: customer_job, local: true) do |form| %>
  <% if customer_job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer_job.errors.count, "error") %> prohibited this customer_job from being saved:</h2>

      <ul>
      <% customer_job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :job_reference %>
    <%= form.text_field :job_reference, id: :customer_job_job_reference %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :customer_job_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :customer_job_description %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status, id: :customer_job_status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
