<%= form_with(model: point_of_pain, local: true) do |form| %>
  <% if point_of_pain.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(point_of_pain.errors.count, "error") %> prohibited this point_of_pain from being saved:</h2>

      <ul>
      <% point_of_pain.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :point_of_pain_description %>
  </div>

  <div class="field">
    <%= form.label :PTWorkshop_id %>
    <%= form.text_field :PTWorkshop_id, id: :point_of_pain_PTWorkshop_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
